.trapezoid {
    border-bottom: 50px solid gray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 80%;
    opacity: 0.3;
    filter: drop-shadow(0px 128px 63px rgba(8,8,8,0.38));
    -webkit-filter: drop-shadow(0px 128px 63px rgba(8,8,8,0.38));
    -moz-filter : drop-shadow(0px 128px 63px rgba(8,8,8,0.38));
  }

.seat {
  width: 35px;
  height: 35px;
  border : none;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  background-color: rgb(123, 122, 122);
}

.seated {
  background-color: #dc3545;
  cursor: no-drop;
}

.seating {
  background-color: rgb(9, 224, 9) !important;
}
.seatVip {
  background-color: #ffc107;
  
}
.seatOrderMe {
  background-color: indigo !important;
}

.seatingCustomer {
  background-color: rgb(2, 2, 201) !important;
  cursor: no-drop;
}