.slick-prev:before,
.slick-next:before {
  color: gray !important;
  font-size: 3rem !important;
}

.width-item {
  width: 100% !important;

}

.active-film {
  /* background: rgb(34, 34, 34);
  color: white; */
  @apply  bg-gray-800 text-white;
}

.none_active-film {
  /* background: wheat;
  color: rgb(34, 34, 34); */
  @apply bg-yellow-100 text-gray-900;
}